* {
    margin: 15px;
    padding: 0;
    box-sizing: border-box;
    text-align: center;
  }
  
  html,
  body {
    height: 100%;
  }
  
  body {
    font-family: sans-serif;
    display: flex;
    flex-flow: column nowrap;
    min-width: 400px;
  }
  
  .header {
    flex-shrink: 0;
    align-self: center;
  }

  .results {
    align-self: center; 
  }

  ul {
    list-style-type: none;
}
