@import url('https://fonts.googleapis.com/css?family=Mansalva&display=swap');

* {
    padding: 0;
    margin: 15px 0 0 0;
}

body {
	background: #767269;
}

h1 {
	text-align: center;
	font-family: Mansalva, cursive;
	color: #423836;
}

ul {
	list-style: none;
	text-align: center;
}

li {
	display: inline-block;
	margin: 0;
}

button {
	width: 100px;
	margin-top: 15px;
	padding: 6px 0;
	background: #423836;
	color: #BFAF97;
	border: 1px solid #BFAF97;
	border-radius: 4px;
	cursor: help;
}

button:hover {
	color: orange;
	border: none;
}

.scores {
	text-align: center;
	margin-top: 40px;
	color: #423836;
	font-family: sans-serif;
}

#roundMessage {
	margin-top: 15px;
	text-align: center;
	font-family: sans-serif;
	color: orange;
}

.vs {
	color: orange;
	padding: 0 10px;
}
